<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>olafurjohannsson.com</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" type="text/css">

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.min.css') }}" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/creative.css') }}" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        * {
            font-family: 'Open Sans', sans-serif;
        }
        .title {
            color: rgba(255, 255, 255, 0.7);
        }
        .portfolio-box img {
            height: 274px;
            width: 100%;
        }
        .emphasize {
            color:#f05f40
        }
    </style>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-77733773-2', 'auto');
  ga('send', 'pageview');

</script>
</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">olafur@johannsson.co</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">I am</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Service</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Portfolio</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h2><span class="emphasize">Hi, </span> i'm Ólafur </h2>
                <hr>
                <h3 class="title">Developer</h3>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">I am</h2>
                    <hr class="light">
                    <p class="text-faded">Father of two boys, developer, marathon runner, musician, lego player, advanced ping pong player. </p>

                    <p class="text-faded">And some other stuff too...</p>
                    <a href="/cv.pdf" class="btn btn-default btn-xl">Download CV</a>
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-code wow bounceIn text-primary"></i>
                        <h3>Development</h3>
                        <p class="text-muted">
                            Whether it's PHP, NodeJS, .NET, SQL, JavaScript, WordPress, C++, Go or anything in between i can create software using any tool appropriate.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".1s"></i>
                        <h3>Design</h3>
                        <p class="text-muted">
                            Have a specific design in mind, or just want to tweak a template a bit for your website, i can implement it for you.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-desktop wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>Consultant</h3>
                        <p class="text-muted">
                            I consult on all things technical.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".3s"></i>
                        <h3>Agile</h3>
                        <p class="text-muted">
                            Development and information technology is my passion and i strive to be agile in my development practices.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="portfolio" style="padding-bottom:0;" class="bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Some of my work</h2>
                    <hr class="primary">
                    <p>Check it out</p>
                </div>
            </div>
        </div>
        <div class="container-fluid" style="padding-top: 80px;">
            <div class="row no-gutter">
                <div class="col-lg-4 col-sm-6">
                    <a href="http://quickinvoice.is" class="portfolio-box">
                        <img src="{{ url_for('static', filename='img/portfolio/quickinvoice.jpg') }}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Invoice system
                                </div>
                                <div class="project-name">
                                    quickinvoice.is
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="http://endurskodun.johannsson.co" class="portfolio-box">
                        <img src="{{ url_for('static', filename='img/portfolio/endurskodun2.png') }}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Website in progress
                                </div>
                                <div class="project-name">
                                    endurskodun.com
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6" style="background-color:#fff;">
                    <a href="http://wokon.is" class="portfolio-box">
                        <img src="{{ url_for('static', filename='img/portfolio/wokon.png') }}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Website
                                </div>
                                <div class="project-name">
                                    wokon.is
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

<!--
    <aside class="bg-dark">
        <a href="#about" class="btn btn-primary btn-xl page-scroll">Services</a>
    </aside>
-->
    <section id="skills">
        <div class="container">
            <div class="row">
                
            </div>
        </div>
    </section>
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading"><i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i></h2>
                    <hr class="primary">
                    
                    <p><a href="mailto:olafur@johannsson.co">olafur@johannsson.co</a></p>
                </div>
            </div>
        </div>
    </section>

    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.easing.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.fittext.js') }}"></script>
    <script src="{{ url_for('static', filename='js/wow.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/creative.js') }}"></script>
</body>

</html>
