{% extends "layout.html" %}

{% block body %}
<h1>Login</h1>
<form action="" method="post" name="login">
	
	<p>
		Username: <br>
		<input type="text" placeholder="Enter username..." id="username" name="username" value="{{request.form.username}}"/>
		<br>
		Password: <br>
		<input type="text" placeholder="Enter password..." id="password" name="password" value="{{request.form.password}}"/>
	    
	</p>
	
	<p>
		<input class="btn btn-default" type="submit" value="Login">
	</p>
</form>

{% if error %}
	<p class="error"><strong>Error:</strong> {{error}}
{% endif %}



{% endblock %}
